.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  width: 100%;
  max-width: 520px;
  max-height: 388px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 102.5px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.line{
  display: none;
  width: 24px;
  height: 4px;
  background-color: #D1D4DD;
  margin: 15px auto 0px;
}

.modal-header {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ebedf0;
}

.modal-header h2 {
  color: #243d35;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.delete-question {
  padding: 0 24px;
  text-align: right;
  font-size: 16px;
  color: #242d35;
  font-weight: 500;
  margin: 0;
}

.form-actions {
  height: 52px;
  display: flex;
  gap: 8px;
  align-items: start;
}

.btn-delete {
  background: #ef4e4e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  /* padding: 8px 16px; */
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cancel {
  height: 32px;  
  background: white;
  color: #333;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:focus{
  outline: none;
}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%;
    max-width: 412px;
    max-height: 388px;
    top: auto;
    bottom: 0;
    gap: 10px;
    border-radius: 16px 16px 0 0;
  }
  .modal-overlay {
    padding: 10px;
    align-items: flex-end;
  }

  .line{
    display: block;
  }

  .modal-header {
    height: 22px;
    border-bottom: none;
  }

  .modal-header h2 {
    width: 90%;
    padding-right: 40px;
    font-size: 14px;
  }

  .delete-content {
    padding: 16px 0;
    gap: 10px;
  }

  .btn-cancel, .btn-delete{
    flex: 1;
  }
}
