@font-face {
  font-family: vazirmatn;
  src: url(../public/fonts/Vazirmatn-FD-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: vazirmatn;
  src: url(../public/fonts/Vazirmatn-FD-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: vazirmatn;
  src: url(../public/fonts/Vazirmatn-FD-Regular.woff2);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  display: flex;
  justify-content: center;
  background-color: #dcdfe3;
  font-family: 'vazirmatn', 'Tahoma', 'Arial', 'sans-serif';
  font-weight: 400;
}

.App {
  max-width: 768px;
  height: 803px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin: 111px;
  padding: 36px 24px;
  border-radius: 16px;
  background-color: #fff;
}

h1 {
  width: 79px;
  height: 31px;  
  font-size: 20px;
  line-height: 100%;
}

@media (max-width: 768px) {
  .App {
    width: 380px;
    height: auto;
    margin: 16px;
  }
}
