:root {
  font-family: 'vazirmatn', Tahoma, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  background-color: #dcdfe3;
  min-height: 100vh;
}
