.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dcdfe3;
}

.layout-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 88px auto;
}

@media (max-width: 480px) {
  .layout-content {
    padding: 0 0;
    margin-top: 70px;
  }
}
